/* General Body Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Header and Titles */
h1 {
  color: #0056b3;
  font-size: 24px;  /* Ensuring consistent font size across all headers */
}

/* Navigation Button Styling */
.button, .button-outline {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s, color 0.3s;
}

.button {
  background-color: #007bff;
  color: white;
}

.button:hover, .button-outline:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.button-outline {
  background-color: transparent;
  border-color: #007bff;
  color: #007bff;
}

/* Link Styling for the Side Menu */
.nav-link, .nav-link.active {
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 0;  /* Flat design for modern look */
  transition: background-color 0.3s;
}

.nav-link {
  color: #007bff;
}

.nav-link:hover, .nav-link.active {
  background-color: #e7f1ff;
  color: #0056b3;
}

.nav-link.active {
  font-weight: bold;
  background-color: #007bff; 
  color: white;
  border-left: 4px solid #0056b3;
  margin-left: -4px;
}

.card {
  border: 1px solid #e3e3e3; /* Lighter border for a softer look */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover for a 'lifted' effect */
}

/* Navigation Header Styling */
.navigation-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e9eb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Module Title and Navigation Buttons Styling */
.module-title {
  font-size: 1.5rem;
  color: #0056b3;
}

.nav-button {
  margin: 0 10px;
}
